/*  Common prop */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: lightgrey;
}
/* /Common prop */



/* Header prop */
header{
    height: 100px;
    background-color: white;
    
}


.logo{ 
    height:100px;
    line-height: 100px;
    vertical-align: middle;
}

.nome_logo{
    font-weight: 700;
    font-size: 40px;
}
/* Header prop */



/* Main prop */


main{
    background-color: white;
    width: 80%;
    margin:auto;
}

section>div{
    margin-left: 50px;
}




/*  Button top prop */
.button{
    border:1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 10px ;
}

.button.blue{
    background-color: cornflowerblue;
    color: whitesmoke;
}

.button.white{
    background-color: white ;
    color: lightgrey;

    
}
/* /Button prop */

/* Button main prop */
.button-main{
    border:1px solid lightgrey;
    border-radius: 15px;
    padding: 5px 10px ;
    color: white;
}
.button-main.blue{
    background-color: cornflowerblue;
}
.button-main.purple{
    background-color: rebeccapurple;
}
.button-main.green{
    background-color: lightgreen;
}
.button-main.magenta{
    background-color: magenta;
}
.button-main.orange{
    background-color:orange;
}
.button-main.lime{
    background-color: lime;
}
/* /Button main prop */

/* List prop */
.new_task{
    margin-top: 30px;
}

.title{
    margin-bottom: 20px;
}
span{
    font-weight:400;
    font-size: 20px ;
}
/* /List prop */

/*   Utlity class */

h2.title::before{
    content: '\25BC';
}

span.cross::before{
    content: '\2716';
    font-size: 15px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

span.::before{
    content: '\2713';
    font-size: 5px;
    color:green;
    border: 1px solid green;
    border-radius: 50%;
}