/*  Common prop */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: lightgrey;
}

/* /Common prop */

/* Header prop */
header{
    height: 100px;
    background-color: white;
    
}


.logo{ 
    height:100px;
    line-height: 100px;
    vertical-align: middle;
}

.nome_logo{
    font-weight: 700;
    font-size: 40px;
}
/* Header prop */

/* Main prop */
main{
    background-color: white;
    width: 80%;
    margin:auto;
}

section>div{
    margin-left: 50px;
}

/*  Button prop */
.button{
    
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px 10px ;
}

.button.blue{
    background-color: cornflowerblue;
    color: whitesmoke;
}

.button.white{
    background-color: white ;
    color: lightgrey;

    
}
/* /Button prop */